doctype html
html
  head
    title='Floworky'

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Taviraj', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/authenticated.css')
    link(rel='stylesheet', href='/stylesheets/weekly-review.css')
    link(rel='stylesheet', href='/stylesheets/exportmodal.css')
    link(rel='stylesheet', href='/stylesheets/item-menu.css')
 
  body
    nav.navbar
      .navbar__header
        button.navbar__toggle.navbar__toggle--collapsed(type='button', data-toggle='collapsed', aria-expanded='false')
          span.sr-only
        a.navbar__brand(href='/') floworky
      form.navbar__form.navbar--left(method='get', action='/items')
        .form.form--inline
          input.form__control.navbar__searchbox(type='text', name='search', placeholder='Search')
      .navbar__star.btn.btn--star#star-toggle
        | &#x2605;
      .navbar__btn-group.btn--inline(data-toggle='buttons')
        form.navbar--form.navbar--right(method='get', action='/items')
          button.btn.btn--primary.btn--navbar.btn--filter.btn--hidden(type='submit' value='all' name="completed_filter")#btn--all Incomplete Visible
          button.btn.btn--primary.btn--navbar.btn--filter.btn--hidden(type='submit' value='completed' name="completed_filter")#btn--completed All Visible
          button.btn.btn--primary.btn--navbar.btn--filter.btn--hidden(type='submit' value='incomplete' name="completed_filter")#btn--incomplete Completed Visible
        ul.navbar__toggle.navbar--right
          li.dropdown
            a.dropdown__toggle.btn.btn--primary.btn--navbar.btn--dropdown(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              span.icon.icon--caret
              | &blacktriangledown;
            ul.dropdown__menu.dropdown--hidden
              li.dropdown__item
                a.dropdown__item--link
                  .dropdown__item--label#weekly-summary Weekly Summary
              li.dropdown__item
                a.dropdown__item--link.export-link Export All
              li.dropdown__item
                a.dropdown__item--link(href='/accounts/logout')
                  .dropdown__item--label Log Out
              li.dropdown__item.dropdown__item--header= user.email

    .container
      block content

    include ../accounts/weekly-report.pug

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/javascripts/fetch-params.js')
    script(src='/javascripts/items.js')
    script(src='/javascripts/starred.js')
    script(src='/javascripts/weekly-review.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/task-dropdown.js')
