doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Contrail+One', rel='stylesheet')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapsed', aria-expanded='false')
            span.sr-only
          a.navbar-brand.logo(href='/') floworky
        form.navbar-form.navbar-left(method='get', action='/items')
          .form-group
            input.form-control(type='text', name='search', placeholder='Search')
          button.btn.btn-default(type='submit') Search
        form.navbar-form.navbar-left(method='get', action='/items')
          .btn-group(data-toggle='buttons')
            label.btn.btn-primary
              input.completed_filter(type='radio', name='completed_filter', value='all', autocomplete='off', checked='checked')
              |  all items
            label.btn.btn-primary
              input.completed_filter(type='radio', name='completed_filter', value='completed' autocomplete='off')
              |  completed
            label.btn.btn-primary
              input.completed_filter(type='radio', name='completed_filter', value='incomplete', autocomplete='off')
              |  incomplete
          button.btn.btn-default(type='submit') Filter
        .collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                span.caret
              ul.dropdown-menu
                li
                  a(href='/accounts/logout') Log Out
                li.dropdown-header= user.email

    .container
      block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script(src='/javascripts/items.js')
    script(src='/javascripts/help.js')
