doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Taviraj', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      .navbar__header
        button.navbar__toggle.navbar__toggle--collapsed(type='button', data-toggle='collapsed', aria-expanded='false')
          span.sr-only
        a.navbar__brand(href='/') floworky
      form.navbar__form.navbar--left(method='get', action='/items')
        .form.form--inline
          input.form__control(type='text', name='search', placeholder='Search')
        button.btn.btn--secondary.navbar__btn(type='submit') Search
      form.navbar__form.navbar__form--right(method='get', action='/items')
          .navbar__btn-group.btn--inline(data-toggle='buttons')
            label.btn.btn--primary.navbar__btn
              input.form__radio.form__radio--hidden(type='radio', name='completed_filter', value='all', autocomplete='off', checked='checked')
              |  All Items
            label.btn.btn--primary.navbar__btn
              input.form__radio.form__radio--hidden(type='radio', name='completed_filter', value='completed' autocomplete='off')
              |  Completed
            label.btn.btn--primary.navbar__btn
              input.form__radio.form__radio--hidden(type='radio', name='completed_filter', value='incomplete', autocomplete='off')
              |  Incomplete
          button.btn.btn--secondary.navbar__btn.btn--inline(type='submit') Filter
      .collapse.navbar__collapse#navbar-collapse
        ul.navbar__toggle.navbar--right
          li.dropdown
            a.dropdown__toggle.btn.btn--primary.navbar__btn(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              span.icon.icon--caret
              | Menu
            ul.dropdown__menu.dropdown--hidden
              li.dropdown__item
                a.dropdown__link(href='/accounts/logout') Log Out
              li.dropdown__item.dropdown__header= user.email

    .container
      block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/javascripts/items.js')
