nav.help-tabs
  ul
    li
      a(href='/help/howtos') How-to
    li
      a(href='/help/commands') Commands
    li
      a(href='/help/support') Support

  block content

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='/javascripts/help.js')
