doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Taviraj', rel='stylesheet' )
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar
      .navbar__header
        button.navbar-toggle.collapsed(type='button', target='#navbar-collapse', aria-expanded='false')
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.logo(href='/') floworky

      .collapse.navbar-collapse#navbar-collapse
        .navbar-right
          a.btn.navbar-btn(href='/accounts/login', role='button') Login

    block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
