extends ./layouts/layout

block content
  .splash-background
    .container
      .jumbotron
        h1 Get your workflow on lockdown...
        p with the best productivity app around...
        p
          a.btn.btn-primary.btn-lg(href='/accounts/register', role='button') Sign Up
