extends ./layouts/layout

block content
    .container__home
      h1 Get your workflow on lockdown...
      p with the best productivity app around...
      p.btn__display
        a.btn.btn__home.btn--large.btn--wide(href='/accounts/register', role='button') Sign Up
