extends ./layouts/layout

block content
    .login-page
      .login-page__header
        .login-page__header--title Organize Your Brain
        .login-page__header--subtitle FloWorky is a notebook for lists. Use it to be more productive and creative.
      a.form--group(type="submit" href='/accounts/register', role='button')
        button.btn.btn__home.btn--large Sign Up
