.topic-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.topic-list li {
  list-style-type: none;
}

.topic-list .btn-info {
  margin: 4px 2px 0 0;
}

.viewed,
.singleTopic > .topic-true {
  color: #fff;
  background: #1D9E9E;
  border: 1px #026917 solid;
}
