body{
  min-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #F6F6F6;
  font-family: 'Roboto:300', Arial, sans-serif;
  overflow-x: hidden;
}
button{
  margin: 0;
  padding: 0;
  gutter: 0;
  height: inherit;
  width: inherit;
}
input [type="submit"]{
  margin: 0;
}

.navbar{
  display: flex;
  position: fixed;
  top: 0;
  background-color: #3D3D3D;
  --navbar-height: 29px;
  height: var(--navbar-height);
  border-bottom: 1px solid #111;
  min-width: 100%;

}

.navbar__star{
  color: #EAEAEA;
  position: absolute;
  background-color: #666666;
  top: 4px;
  margin-left: 5px;
  border-radius: 3px;
}

.navbar__header{
  display: inline;
  padding-top: 3px;
}

.navbar__toggle{
  display: inline;
  list-style: none;
}

.navbar__toggle--collapsed{
  display: inline;
  visibility: hidden;
}

.navbar__brand{
  color: #EBEBEB;
  opacity: .9;
  height: 18px;
  width: 80px;
  margin-top: 10px;
  font-size: 0.9em;
  text-decoration: none;
  padding-top: 2px;
  padding-right: 2em;
  padding-left: 4px;
  font-family: 'Taviraj', Arial, sans-serif;
}

.navbar__form{
  display: inline;
  position: relative;
  top: 2px;
}

.navbar--left{
  float: left;

}
.navbar--right{
  float: right;
  right: 0;
}

.navbar__collapse {
  position: fixed;
  right: 40px;
}

.navbar__btn-group {
  position: relative;
  display: inline-block
}

.navbar__searchbox {
    background-color: #EBEBEB;
    border-radius: 5px;
    margin: 2px 0;
    padding: 4px;
    padding-bottom: 3px;
    width: 200px;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
.navbar__searchbox:hover, .navbar__searchbox:focus{
  background-color: #FFFFFF;
}

.navbar__form--right{
  float: right;
  position: absolute;
  right: 100px;
}

.form{}
.form--inline{
  display: inline;
}
.form__control{
  font-family: 'Roboto'
}
.form__radio{}
.form__radio--hidden{
  display: none;
}

.btn{
  display: inline-block;
  border: 1px solid #111;
  padding: 5px;
  font-size: 14px;
}
.btn--primary{
  background-color: #555;
  color: #fff;
}
.btn--primary:hover, .dropdown__toggle--open{
  background-color: #666;
}

.btn--secondary{
  margin: 0;
}

.btn--inline{
  display: inline;
}

.btn--hidden{
  display: none;
}

.btn--no-border{
  border: none;
}

.btn--navbar{
  padding: 4.5px;
  color: #FFFFFF;
}

.btn--dropdown{
  position: fixed;
  padding: 4px 10px 7px;
}

.btn--filter{
  position: fixed;
  width: 150px;
  right: 45px;
}

.btn--star{
  border-color: #484848;
  font-size: 12px;
  padding: 3px;
  z-index: 5;
}

.btn--star:hover{
  box-shadow: 0 0 0 3px #666666;
}

.dropdown{
  right: 0;
  top: 0;
  color: #fff;
}

.dropdown__toggle{
  --dropdown-right-position: 15px;
  position: fixed;
  top: 0;
  right: var(--dropdown-right-position);
  color: #fff;
  text-decoration: none;
}


.dropdown__menu{
  list-style:none;
  font-family:sans-serif;
  font-size: 0.85em;
  min-width: 90px;
  max-width: 150px;
  min-height: 40px;
  margin: 0;
  padding: 3px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #111;
  border-top: none;
  position: fixed;
  top: var(--navbar-height);
  right: 15px;
  background-color:#666;
  text-align: left;
  z-index: 101;
}
.dropdown--hidden {
  display: none;
}
.dropdown__header{
  font-size:0.8em;
  color:#aaa;
}

.dropdown__link:hover{
  background-color:#444;
}

.dropdown__item{
  margin: 0;
  --item-padding: 2.5px;
  padding: 2.5px 8px;
}

.dropdown__link{
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: block;
  padding: var(--item-padding);
}

.dropdown__header{}

.dropdown__toggle--open{
  border-bottom: none;
}

.workpage{
  display: block;
  width: 700px;
  min-height: 400px;
  margin: 50px 0 20px 17.5%;
  border: solid 1px #d6d6d6;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 40px 60px;
}

.workpage__item .workpage__children {
  margin-left: 20px;
}

.workpage__item .workpage__title {
}

.workpage__item .workpage__description {
  color: #888;
  padding-left: 7px;
}

.workpage__title.completed > span, .workpage__title.completed > input {
  text-decoration: line-through;
  color: #777;
}

.workpage__heading > .workpage__title {
  display: inline;
}

.workpage__heading {
  display: inline;
}

.workpage__item{
  position: relative;
  clear: both;
  padding-bottom: 4px;
}

.workpage__toggle{
  display: inline;
  padding: 0 4px;
  border-radius: 100%;
  margin-right: 5px;
  background-color: #e0e0e0;
}

.workpage__toggle:hover{
  background-color: #AAAAAA;
}

.workpage__description{
  font-size: 12px;
}

.workpage__footer{
 width: 820px;
 position: relative;
 left: -60px;
 margin: 0;
 margin-top: 20px;
 height: 30px;
 border-radius: 2px;
 display: block;
}
.workpage__footer__content{
  margin: 0 60px;
  border-top:solid 1px #d6d6d6;
  opacity: 0.5;
  padding-top: 8px;
  font-size: 12px;
}

.item--hidden {
  display: none;
}

.icon{
  color: grey;
}

.icon__star{
  font-size: 1.5em;
  position: relative;
  top: -30px;
  left: 720px;
  opacity: 0.4
}
