body{
  min-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #F6F6F6;
  font-family: 'Roboto', Arial, sans-serif;
  overflow-x: hidden;
}

.login-page {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9FA;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.login-page__header{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.login-page__header--title{
  font-size: 42px;
}

.login-page__header--subtitle{
  font-size: 20px;
  color: #666;
}

.login-page__corner-button {
  position: absolute;
  right: 20px;
  top: 15px;
}

.navbar{
  --navbar-color:  #3D3D3D;
  --navbar-height: 29px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--navbar-color);
  height: var(--navbar-height);
  border-bottom: 1px solid #111;
  min-width: 100%;
  z-index: 100;

}

.navbar__star{
  color: #EAEAEA;
  position: absolute;
  background-color: #666666;
  top: 4px;
  margin-left: 5px;
  border-radius: 3px;
}

.navbar__header{
  display: inline;
  padding-top: 3px;
}

.navbar__toggle{
  display: inline;
  list-style: none;
}

.navbar__toggle--collapsed{
  display: inline;
  visibility: hidden;
}

.navbar__brand{
  color: #EBEBEB;
  opacity: .9;
  height: 18px;
  width: 80px;
  margin-top: 10px;
  font-size: 0.9em;
  text-decoration: none;
  padding-top: 2px;
  padding-right: 2em;
  padding-left: 4px;
  font-family: 'Taviraj', Arial, sans-serif;
}

.navbar__brand--big {
  font-size: 1.65em;
}

.navbar__form{
  display: inline;
  position: relative;
  top: 2px;
}

.navbar--left{
  float: left;

}
.navbar--right{
  float: right;
  right: 0;
}

.navbar__collapse {
  position: fixed;
  right: 40px;
}

.navbar__btn-group {
  position: relative;
  display: inline-block
}

.navbar__searchbox {
    background-color: #EBEBEB;
    border-radius: 5px;
    margin: 2px 0;
    padding: 4px;
    padding-bottom: 3px;
    width: 200px;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
.navbar__searchbox:hover, .navbar__searchbox:focus{
  background-color: #FFFFFF;
}


.dropdown {
  right: 0;
  top: 0;
  color: #fff;
}

.dropdown__toggle {
  position: fixed;
  top: 0;
  right: 15px;
  color: #fff;
  text-decoration: none;
}

.dropdown__menu{
  list-style: none;
  font-family :sans-serif;
  font-size: 0.85em;
  min-width: 95px;
  min-width: 150px;
  min-height: 40px;
  margin: 0;
  padding: 9px 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #111;
  border-top: none;
  position: fixed;
  top: var(--navbar-height);
  right: 15px;
  background-color:#666;
  text-align: left;
  z-index: 101;
}

.dropdown--hidden {
  display: none;
}

.dropdown__item {
  margin: 0;
  padding: 4px 8px 2.5px;
  font-size: 13px;
}

.dropdown__item--header {
  text-align: center;
  font-size:11px;
  color:#aaa;
}

.dropdown__item--link {
  text-decoration: none;
  padding-left: 3px;
  color: #fff;
  width: 100%;
  display: block;
}

.dropdown__item--link:hover {
  background-color:#444;
}

.dropdown__toggle--open {
  border-bottom: none;
}

.workpage {
  display: block;
  width: 50%;
  min-height: 800px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 50px 0 20px 80px;
  border: solid 1px #d6d6d6;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 40px 60px;
  margin-left: 20%;
}

.workpage__main {
  min-height: 800px;
}

.workpage__footer {
  border-top:solid 1px #d6d6d6;
  width: 700px;
  position: relative;
  left: -55px;
  margin: 0;
  border-radius: 2px;
  display: block;
  margin: 40px 50px 10px;
  position: relative;
  text-align: center;
  bottom: 0;
}

.workpage__footer__content {
  font-size: 12px;
  margin: 10px 0 0 2px;
  color: #888;
  font-style: none;
  font-weight: normal;
  position: absolute;
  left: 0;
  }

.item {
  position: relative;
  clear: both;
  padding-bottom: 4px;
}

.item__heading > .item__title {
  display: inline;
}

.item__toggle {
  display: inline;
  padding: 0 4px;
  border-radius: 100%;
  margin-right: 5px;
  background-color: #e0e0e0;
}

.item__toggle:hover {
  background-color: #AAAAAA;
}

.item__description {
  font-size: 12px;
}

.item--hidden {
  display: none;
}

.item .item__description {
  color: #888;
  padding-left: 7px;
}

.item__title--completed > span, .item__title--completed > input {
  text-decoration: line-through;
  color: #777;
}

.btn {
  display: inline-block;
  border: 1px solid #111;
  padding: 5px;
  font-size: 13px;
  font-weight: lighter;
  cursor: pointer;
}
.btn--primary {
  background-color: #555;
  color: #fff;
}
.btn--primary:hover, .dropdown__toggle--open {
  background-color: #666;
}

.btn--secondary {
  margin: 0;
}

.btn__display {
  text-align: center;
  display: inline-block;
}

.btn__login-page {
  background-color: #3C5977;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.btn__login-page:hover {
  background-color: #324962;
}

.btn__login-page--normal {
  width: 5.4em;
  height: 1em;
  font-size: 14px;
  padding: 0.8em;
  padding-bottom: 0.9em;
}

.btn--large {
  margin-top: 20px;
  height: 100px;
  width: 270px;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  align-items: center;
  font-size: 32px;
}

.btn--inline {
  display: inline;
}

.btn--hidden {
  display: none;
}

.btn--no-border {
  border: none;
}

.btn--navbar {
  padding: 5px;
  color: #FFFFFF;
}

.btn--dropdown {
  position: fixed;
  padding: 4px 10px 7.5px;
}

.btn--filter {
  position: fixed;
  width: 150px;
  right: 45px;
}

.btn--star {
  border-color: #484848;
  font-size: 12px;
  padding: 3px;
  z-index: 5;
}

.btn--star:hover {
  box-shadow: 0 0 0 3px #666666;
}

.dropdown{
  right: 0;
  top: 0;
  color: #fff;
}

.dropdown__toggle{
  --dropdown-right-position: 15px;
  position: fixed;
  top: 0;
  right: var(--dropdown-right-position);
  color: #fff;
  text-decoration: none;
}


.dropdown__menu{
  list-style:none;
  font-family:sans-serif;
  font-size: 0.85em;
  min-width: 90px;
  max-width: 150px;
  min-height: 40px;
  margin: 0;
  padding: 3px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #111;
  border-top: none;
  position: fixed;
  top: var(--navbar-height);
  right: 15px;
  background-color:#666;
  text-align: left;
  z-index: 101;
}
.dropdown--hidden {
  display: none;
}
.dropdown__header{
  font-size:0.8em;
  color:#aaa;
}

.dropdown__link:hover{
  background-color:#444;
}

.dropdown__item{
  margin: 0;
  --item-padding: 2.5px;
  padding: 2.5px 8px;
}

.dropdown__link{
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: block;
  padding: var(--item-padding);
}

.dropdown__header{}

.dropdown__toggle--open{
  border-bottom: none;
}

.workpage{
  display: block;
  width: 700px;
  min-height: 400px;
  padding-bottom: 80px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 50px 0 20px 80px;
  border: solid 1px #d6d6d6;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 40px 60px;
  transform: translate(229px, 0px);
}

.workpage__item .workpage__children {
  margin-left: 20px;
}

.workpage__item .workpage__title {
}

.workpage__item .workpage__description {
  color: #888;
  padding-left: 10px;
}

.icon {
  cursor: default;
  color: grey;
}

.icon__star {
  font-size: 1.5em;
  position: relative;
  top: -30px;
  left: 103%;
  opacity: 0.4
}

.form__label {
  float: left;
  font-size: 11px;
  color: #234;
  padding-left: 4px;
}

.form__input--login-page {
  padding: 10px 4px;
  font-size: 20px;
  width: 95%;
  margin: 0px 2px 20px;
  border-radius: 1px;
  border: solid 1px #DDDDDD;
  background-color: #f8f8fe;
}

.form__input--login-page:focus {
  border-color: #B6B6B6;
}

.form--inline{
  display: inline;
}

.form__control{
  font-family: 'Roboto';
}

.form__login {
  background-color: #fff;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border: solid 1px #DDDDDD;
  border-radius: 8px;
  padding: 1.5em;
  width: 280px;
}

.form__help-block {
  font-size: 0.85em;
  color: #234;
}

.form__help-block--hidden {
  display: none;
}
