.logo {
  margin-top: 10px;
  font-size: 3em;
  font-family: 'Contrail One', cursive;
}

.item .children {
  margin-left: 20px;
}

.item .title {
  font-weight: bold;
}

.item .description {
  color: #888;
  padding-left: 7px;
}

.title.completed > span, .title.completed > input {
  text-decoration: line-through;
  color: #777;
}

.heading > .title {
  display: inline;
}

.heading {
  display: inline;
}

.hidden {
  display: none;
}
