body{
  min-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #F6F6F6;
  font-family: 'Roboto', Arial, sans-serif;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  border: 1px solid #111;
  padding: 5px;
  font-size: 13px;
  font-weight: lighter;
  cursor: pointer;
}

.btn--primary {
  background-color: #555;
  color: #fff;
}

.btn--primary:hover {
  background-color: #666;
}

.btn--secondary {
  margin: 0;
}

.btn--large {
  margin-top: 20px;
  height: 90px;
  width: 270px;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  align-items: center;
  font-size: 32px;
}

.btn--inline {
  display: inline;
}

.btn--hidden {
  display: none;
}

.btn--no-border {
  border: none;
}

.icon {
  cursor: default;
  color: grey;
}

.icon__star {
  font-size: 1.5em;
  position: relative;
  top: -30px;
  left: 103%;
  opacity: 0.4
}

.form__label {
  float: left;
  font-size: 11px;
  color: #234;
  padding-left: 4px;
}

.form__input--login-page {
  padding: 10px 4px;
  font-size: 20px;
  width: 95%;
  margin: 0px 2px 20px;
  border-radius: 1px;
  border: solid 1px #DDDDDD;
  background-color: #f8f8fe;
}

.form__input--login-page:focus {
  border-color: #B6B6B6;
}

.form--inline{
  display: inline;
}

.form__control{
  font-family: 'Roboto';
}

.form__header{
  font-family: 'Open Sans', Arial;
  text-align: center;
  font-weight: bolder;
}

.form__help-block {
  font-size: 0.85em;
  color: #234;
}

.form__help-block--hidden {
  display: none;
}

.modal {
  display: none;
  background-color: white;
  list-style-type: disc;
  width: 50%;
  height: 50%;
  outline: black 1px solid;
  position: absolute;
  top: 26%;
  left: 26%;
  overflow-y: auto;
}

.preview-window {
  display: flex;
  flex-direction: column;
}

.preview-window-navbar {
  width: 100%;
  background-color: grey;
  outline: .5px black solid;
}

.preview-window-body {
  margin: 10px;
}

.preview-window-footer {
  width: 100%;
  background-color: grey;
  outline: .5px black solid;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.preview-window-header {
  padding-left: 10px;
}
.close-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
