extends ../layouts/layout

block content
  .container__home
    .landing__header
      .landing__header--title Organize Your Brain
      .landing__header--subtitle FloWorky is a notebook for lists. Use it to be more productive and creative.
    form.form__login(method='post')
      .form--group.email-container
        label.col-sm-2.form__label(for='email') Email:
        br
        input.form__input--home(type='email', name='email', id='email')
        .help-block.form__login--addendum.help-block--hidden Please enter a valid email address

      .form--group
        label.col-sm-2.form__label(for='password') Password:
        br
        input.form__input--home(type='password', name='password', id='password')

      .form--group
        button.btn.btn__home.btn--large(type='submit') Sign Up
