extends ../layouts/help-layout

block content
  title= Help
  h1 Commands

  table
    thead.thead-inverse
      tr
        th Command Title
        th Command Description
    each command in commands
      tr
        td= command.title
        td= command.description
