extends ../layouts/help-layout

block content

  Title= Support
  h1 Support

  p Please contact us if you have any questions. Just email us. 
    a(href="mailto:floworky@gmail.com?subject=I%20Need%20A%20Little%20Help") Email Address
