extends ../layouts/authenticated-layout

mixin display( nodes, depth )
  each entry in nodes
    .item
      .title= entry.item.title
      .description= entry.item.description
      .children
        +display( entry.children, depth + 1 )

block content
  h1 Items

  form(method="post", action="/items")
    label Add a ToDo
    input(type="text", name="title")
    label To Do Description
    input(type="text", name="description")
    input(type="submit", value="submit")

  div
    h3 Your ToDo's:

    .item-page
      +display( tree, 0 )
