extends ../layouts/authenticated-layout

include mixins.pug

block content
  .modal
    include preview-export.pug
  div.main-page
    .work-page
      .work-page__main
        .icon.icon__star
          | &#x2606;
        +display( tree, 0 )
      .work-page__footer
        .work-page__footer__content
          | Make lists, not war.
  hr
  form.form--add-item(method='post', action='/items')
    .form__header Add Items
    .form-group
      input.form__control(type='text', name='title', placeholder='ToDo Title')
    .form-group
      input.form__control(type='text', name='description', placeholder='ToDo Description')
    .form-group
      label.form__label Parent:
      select.form__control(data-style='btn', name='parent_id')
        each item in items
          option(value=`${item.id}`)= item.title

    button.btn.btn--primary(type='submit') Submit
