extends ../layouts/authenticated-layout

mixin display( nodes, depth )
  each entry in nodes
    .item(data-id=entry.item.id, class={completed: entry.item.completed})
      .title(data-id=entry.item.id, data-completed=entry.item.completed)= entry.item.title
      .description= entry.item.description
      .children
        +display( entry.children, depth + 1 )

block content
  h1 Items

  //- form(method="post", action="/items")
  //-   label Add a ToDo
  //-   input(type="text", name="title")
  //-   label To Do Description
  //-   input(type="text", name="description")
  //-   label Parent
  //-   input(type="text", name="parent")
  //-   input(type="submit", value="submit")


  form(method='post', action='/items')
    .form-group
      input.form-control(type='text', name='title', placeholder='ToDo Title')
    .form-group
      input.form-control(type='text', name='description', placeholder='ToDo Description')
    .form-group
      label Select Parent
      select.form-control(data-style='btn', name='parent_id')
        option(value="0") None
        each item in items
          option(value=`${item.id}`)= item.title

    button.btn.btn-primary(type='submit') Submit


  div
    h3 Your ToDo's:

    .item-page
      +display( tree, 0 )
