modal
  .preview-window
    .preview-window--header
      h3.preview-window--header__item Export List
  .preview-window--body
    #preview-text.item-page
      +display( tree, 0 )
  .preview-window--body__item
    Formatted
      a#formatted-preview.preview-window--body__item(href='' download='list.txt')   Formatted
      a#plain-text-preview.preview-window--body__item(href='' download='list.txt') Plain Text
  .preview-window--footer
    a.preview-window__download-link(href='data:text/plain,mytext', download) Click to Download List
    button.preview-window__close-link Close